<form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >First Name</label
        >
        <input
          type="text"
          name="fname"
          placeholder="First Name"
          formControlName="fname"
          class="form-control form-control-sm"
        />
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.fname.errors }"
          class="mt-2 field-error"
        >
          Enter a Valid First Name
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >Last Name</label
        >
        <input
          type="text"
          name="lname"
          placeholder="name@example.com"
          formControlName="lname"
          class="form-control form-control-sm"
        />
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.lname.errors }"
          class="mt-2 field-error"
        >
          Enter a Valid Last Name
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >Email Id</label
        >
        <input
          type="email"
          name="emailid"
          placeholder="name@example.com"
          formControlName="emailid"
          class="form-control form-control-sm"
        />
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.emailid.errors }"
          class="mt-2 field-error"
        >
          Enter a Valid Email ID
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >Mobile No</label
        >
        <input
          type="text"
          name="mobile"
          placeholder="mobile"
          formControlName="mobile"
          class="form-control form-control-sm"
        />
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.mobile.errors }"
          class="mt-2 field-error"
        >
          Enter a Valid Mobile No
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label">Address</label>
        <input
          type="addr"
          name="addr"
          placeholder="name@example.com"
          formControlName="addr"
          class="form-control form-control-sm"
        />
        {{ addr }}
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.addr.errors }"
          class="mt-2 field-error"
        >
          Enter a Valid Address
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label">Country</label>

        <select
          name="pets"
          class="form-control form-control-sm"
          formControlName="country"
        >
          <option value="" disabled>--Please choose an option--</option>
          <option value="India">India</option>
          <option value="Canada">Canada</option>
        </select>
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.country.errors }"
          class="mt-2 field-error"
        >
          Country is required
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label">Role</label>

        <select
          name="role"
          class="form-control form-control-sm"
          formControlName="role"
        >
          <option value="" disabled>--Please choose an option--</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
        </select>
        <div
          [ngClass]="{ 'hide-visibility': !formdata.controls.role.errors }"
          class="mt-2 field-error"
        >
          Role is required
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >Department</label
        >

        <select
          class="form-control form-control-sm"
          formControlName="department"
        >
          <option value="" disabled>--Please choose an option--</option>
          <option value="Finance">Finance</option>
          <option value="Staff">Staff</option>
        </select>
        <div
          [ngClass]="{
            'hide-visibility': !formdata.controls.department.errors
          }"
          class="mt-2 field-error"
        >
          Department is required
        </div>
      </div>

      <div class="col-6 mt-5">
        <label for="exampleFormControlInput1" class="form-label"
          >Select Landing Page</label
        >

        <select
          class="form-control form-control-sm"
          formControlName="landingPage"
        >
          <option value="" disabled>--Please choose an option--</option>
          <option value="Dashboard">Dashboard</option>
          <option value="Home">Home Page</option>
          <option value="Analytics">Analytics Page</option>
        </select>
        <div
          [ngClass]="{
            'hide-visibility': !formdata.controls.department.errors
          }"
          class="mt-2 field-error"
        >
          Department is required
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 offset-8 mt-5">
        <input
          type="submit"
          class="forsubmit"
          value="Submit"
          [disabled]="formdata.invalid"
        />
      </div>
    </div>
  </div>
</form>
